<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value=""/>
    <add key="LogoImage" value="None"/>
    <add key="EULA" value="EULA.rtf"/>
    <!--<add key="Require" value="MOSS"/>-->
    <add key="MinSharePointVersion" value="15.0.0.0"/>
    <add key="MaxSharePointVersion" value=""/>
    <add key="SolutionId" value="f3ee335e-ec69-4ce8-aa1d-27569275b68a"/>
      <!-- FeatureId: Feature(s) to install/upgrade/repair
          Either a single GUID, or a semicolon delimited GUID list -->
    <add key="FeatureId" value="e3800431-90b3-4c71-8310-6b0ed1270650"/>
      <!-- FeatureScope: Scope of feature(s) specified in FeatureId
          Legal values: Farm, Web Application, Site, Web-->
    <add key="FeatureScope" value="WebApplication"/>
    <add key="SolutionFile" value="ArkUtility.SPMail.wsp"/>
    <add key="SolutionTitle" value="ArkUtility SPMail Solution"/>
      <!-- SolutionVersion: Version of solution: this value is stored in the farm property bag -->
    <add key="SolutionVersion" value="1.0.0.0"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>
      <!-- DefaultDeployToSRP: Whether box for Shared Resource Provider web app is initially checked
            if user is prompted for web applications to target -->
    <add key="DefaultDeployToSRP" value="false"/>
    <add key="DefaultDeployToAdminWebApplications" value="false"/>
    <add key="DefaultDeployToContentWebApplications" value="false"/>
      <!-- PromptForWebApplications: To force user prompt for web application; 
           useful if a dll is included, so SafeControl entries needed, 
           but feature not at webapp level -->
    <add key="PromptForWebApplications" value="true"/>
      <!-- CompatibilityLevel: For SharePoint 2013, see docs for Install-SPSolution -->
    <add key="CompatibilityLevel" value="15"/>
  </appSettings>
</configuration>
